@using System.Globalization
@using System.Security.Claims
@model WSRS_SWAFO.ViewModels.AccountViewModel

@{
    ViewData["Title"] = "Account";

    @* For changing name to title case *@
    TextInfo textInfo = new CultureInfo("en-US", false).TextInfo;
    string surname = textInfo.ToTitleCase(User.FindFirst(ClaimTypes.Surname)?.Value.ToLower()!);
    string firstName = textInfo.ToTitleCase(User.FindFirst(ClaimTypes.GivenName)?.Value.ToLower()!);
}

@section customHead {
    <link rel="stylesheet" href="~/css/accountStyle.css" asp-append-version="true" />
}

<div id="account">
    <h1>@ViewData["Title"]</h1>
    <hr />

    <section>
        <dl>
            <dt>Email</dt>
            <dd>@Model.Email.ToLower()</dd>
            <dt>Name</dt>
            <dd>@firstName @surname</dd>
        </dl>
    </section>

    <section>
        <h2>Offline Management</h2>
        @* TODO Add an alert if they do not have a password yet *@
        <a class="btn dark-btn" asp-action="UpdatePassword">Update Offline Password</a>
    </section>
</div>

@section scripts {
    <script src="~/js/account.js" asp-append-version="true" ></script>
}