@using Microsoft.AspNetCore.Mvc.ModelBinding
@model WSRS_SWAFO.ViewModels.UpdatePasswordViewModel

@{
    ViewData["Title"] = "Account";
    var errors = TempData["Error"] as List<string>;
}

@section customHead {
    <link rel="stylesheet" href="~/css/accountStyle.css" asp-append-version="true" />
}

<div id="account">
    <h1>Account</h1>
    <hr />

    <h2>Update Password</h2>
    <p>Enter your new offline password</p>

    <form id="updatePasswordForm" method="post" asp-controller="Account" asp-action="UpdatePassword" class="panel">
        @if (TempData["Error"] != null)
        {
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>Warning</strong>
                @if (TempData["Error"] is string)
                {
                    @TempData["Error"]
                }
                else if (errors != null)
                {
                    <ul>
                        @foreach (var error in errors)
                        {
                            <li>@error</li>
                        }
                    </ul>
                }
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }

        @if (Model.HasPassword)
        {
            <input asp-for="HasPassword" type="hidden" />
            <div class="input-wrapper">
                <input asp-for="CurrentPassword" type="password" class="input" autocomplete="current-password">
                <label asp-for="CurrentPassword" class="label">Password<span>*</span></label>
                <span asp-validation-for="CurrentPassword" class="text-danger"></span>
            </div>
        }
        else
        {
            <input asp-for="CurrentPassword" type="hidden" value="null">
        }
        <div class="input-wrapper">
            <input asp-for="NewPassword" type="password" class="input" aria-required="true">
            <label asp-for="NewPassword" class="label">New Password<span>*</span></label>
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>
        <div class="input-wrapper">
            <input asp-for="ConfirmPassword" type="password" class="input" aria-required="true">
            <label asp-for="ConfirmPassword" class="label">Confirm New Password<span>*</span></label>
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
        @if (TempData["SuccessMessage"] != null)
        {
            <div class="alert alert-success">
                @TempData["SuccessMessage"]
            </div>
        }

        <div>
            <a asp-action="Index" class="btn light-btn">
                Cancel
            </a>
            <button class="btn dark-btn" type="submit">
                Save
            </button>
        </div>
    </form>
</div>

@section scripts {
    <script src="~/js/account.js"></script>
}