@{
    Layout = "_Layout";
}

<h1>Welcome Employee</h1>
<p>
    <em>Disclaimer:</em> this is a simulated representation of
    <a href="https://portals.dlsud.edu.ph">the official staff portal</a> of DLSU-D
</p>
