@{
    Layout = "_Layout";
}

<main class="home text-center">
    <div class="container">
        <h1 class="display-4">Welcome Employee</h1>
        <p>
            <em>Disclaimer:</em> this is a simulated representation of the official staff portal of DLSU-D
        </p>
    </div>
</main>
