@using WSRS_Student.ViewModels;
@using WSRS_Student.Data.Enum;
@model GoodMoralRequestViewModel?

@{
    ViewData["Title"] = "Request For GMC";
}

<main>
    <h2 class="mb-4 mt-4">Request A Good Moral Certificate</h2>
    <form asp-action="GMCRequest" method="post" class="create-form">
        <div class="mb-3">
            <label asp-for="ApplicationDate" class="form-label"></label>
            <input asp-for="ApplicationDate" class="form-control" value="@DateOnly.FromDateTime(DateTime.Now)" disabled readonly />
            <input asp-for="ApplicationDate" type="hidden" value="@DateOnly.FromDateTime(DateTime.Now)" />
        </div>
        <h4 class="mb-2 mt-2 fw-bold">Personal Information</h4>
        <hr />
        <div class="mb-3">
            <label asp-for="StudentNumber" class="form-label"></label>
            <input asp-for="StudentNumber" class="form-control" value="@User.FindFirst("StudentNumber")?.Value" disabled readonly />
            <input asp-for="StudentNumber" type="hidden" value="@User.FindFirst("StudentNumber")?.Value" />
        </div>
        <div class="mb-3">
            <label asp-for="FullName" class="form-label"></label>
            <input asp-for="FullName" class="form-control" />
            <span asp-validation-for="FullName" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Course" class="form-label"></label>
            <input asp-for="Course" class="form-control" />
            <span asp-validation-for="Course" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Gender" class="form-label"></label>
            <select asp-for="Gender" asp-items="Html.GetEnumSelectList<Gender>()" class="form-control" >
                <option value="" disabled selected hidden>-- Select Gender --</option>
            </select>
            <span asp-validation-for="Gender" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="PhoneNumber" class="form-label"></label>
            <input asp-for="PhoneNumber" class="form-control" />
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>
        <h4 class="mb-2 mt-2 fw-bold">Additional Information</h4>
        <hr />
        <div class="mb-3">
            <label asp-for="Purpose" class="form-label"></label>
            <input asp-for="Purpose" class="form-control" />
            <span asp-validation-for="Purpose" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Copies" class="form-label"></label>
            <input asp-for="Copies" class="form-control" />
            <span asp-validation-for="Copies" class="text-danger"></span>
        </div>
        <div class="d-flex flex-column gap-2">
            <button type="submit" class="btn btn-dark fw-bold w-100">Submit Request</button>
            <a asp-action="Index" class="btn btn-secondary fw-bold w-100">Cancel</a>
        </div>
    </form>
</main>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
