@using WSRS_SWAFO.Data.Enum
@using WSRS_SWAFO.ViewModels
@model ReportEncodedViewModel
@{
    Layout = "_EncodeLayout";
    ViewData["Title"] = "Student Violation";
}
@section customHead {
    <link rel="stylesheet" href="~/css/studentViolationStyle.css" asp-append-version="true" />
}
<form id="record-violation">
    <div class="title">
        <a asp-controller="Encode" asp-action="StudentRecordViolation" class="btn-back">
            <svg width="32" height="32" viewBox="0 0 43 43" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="21.5" cy="21.5" r="20.5" stroke="black" stroke-width="2" />
                <path d="M16 22L24 14" stroke="black" stroke-width="2" stroke-linecap="round" />
                <path d="M16 22L24 30" stroke="black" stroke-width="2" stroke-linecap="round" />
            </svg>
        </a>
        <h2>Record Violation</h2>
    </div>
    <div id="student-information">
        <div class="label-header">Student Number: <span class="info">@Model.StudentNumber</span></div>
        <div class="label-header">Student Name: <span class="info">@Model.FirstName @Model.LastName</span></div>
    </div>
    <div class="input-wrapper">
        <input type="text" class="input" autocomplete="CYS" aria-required="true" />
        <label class="label">CYS<span>*</span></label>
        <span class="text-danger"></span>
    </div>
    <div class="input-wrapper">
        <input type="date" class="input" autocomplete="dateOfCommission" aria-required="true" />
        <label class="label">Date Of Commission<span>*</span></label>
        <span class="text-danger"></span>
    </div>
    <div class="input-wrapper">
        <label class="label">Classification Of Offense<span>*</span></label>
        <select asp-items="Html.GetEnumSelectList<OffenseClassification>()" class="input" aria-required="true">
            <option value="">-- Select an option --</option>
        </select>
        <span class="text-danger"></span>
    </div>
    <div class="input-wrapper">
        <label class="label">Nature of Offense<span>*</span></label>
        <select class="input" aria-required="true">
            <option value="">-- Select an option --</option>
        </select>
        <span class="text-danger"></span>
    </div>
    <div class="input-wrapper">
        <input type="text" class="input" autocomplete="sanction" aria-required="true" />
        <label class="label">Sanction<span>*</span></label>
        <span class="text-danger"></span>
    </div>
    <div class="input-wrapper">
        <input type="text" class="input description" autocomplete="description" aria-required="true" />
        <label class="label">Description</label>
        <span class="text-danger"></span>
    </div>
    <a class="btn btn-submit">
        Submit
    </a>
</form>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/encode.js"></script>