#dashboard {
    width: 75vw;
    align-self: center;
    font-size: clamp(0.9375rem, 1.8vw + 0.875rem, 1.125rem);
}

.subtitle {
    color: #9B9B9B;
    margin: 0.4rem 0;
}

.box-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-decoration: none;
}

    .box-row > a {
        text-decoration: none;
        color: black;
    }

        .box-row > a:first-child {
            margin-left: 0;
        }

        .box-row > a:last-child {
            margin-right: 0;
        }

    .box-row .box:hover {
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 8px, rgba(0, 0, 0, 0.2) 0px 2px 4px;
        transform: scale(1.025);
    }

.box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 12px;
    padding: 24px;
    flex: 1;
    margin: 0 1rem;
    height: 250px;
    border: 2px solid black;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

    .box .dashboard-icon {
        border: 2px solid black;
        max-width: 2.5rem;
        aspect-ratio: 1;
        padding: 0.25rem;
        border-radius: 50%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }

.btnSearch {
    font-family: var(--regular);
    border-radius: 100%;
    aspect-ratio: 1;
    padding: 1rem;
    background-color: transparent;
    border: 2px solid #292929;
    margin-left: 10px;
}

@media (max-width: 800px) {
    #categFunc {
        flex-direction: column;
        align-content: space-between;
    }

    .box {
        margin: 0.5rem 0;
    }
}
