body {
    background: #131213;
}

a.link {
    color: darkgreen;
    text-decoration: none;
}

.container:has(> .box-wrapper) {
    min-height: 100vh;
}

.box-wrapper {
    background-color: white;
    padding: 2rem;
    border-radius: 0.2rem;
    width: clamp(60ch, 10vw, 70ch);
}

@media all and (max-width: 600px) {
    .box-wrapper {
        width: 100%;
    }
}
