h2 {
    margin-bottom: 0.75rem;
}

#reports {
    width: 100%;
}

#grid-screen {
    padding: 1.5rem;
}

#reportsChart {
    display: block; /* Removes any inline spacing issues */
    width: 100% !important; /* Force full width */
    height: 400px; /* Set desired height */
}

#statistics {
    width: 100%;
    height: 500px;
    margin: auto;
}

#panel-footer{
    display: flex;
    justify-content: space-between;
}

    #panel-footer > button {
        display: flex;
        align-items: center;
        gap: 5px;
    }

        #panel-footer > button:hover img {
            filter: invert(1);
        }

        #panel-footer > button img {
            transform: scale(0.9);
            transition: filter 0.3s ease-in-out;
        }

#total-violations {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-family: var(--medium);
}

#category-function {
    display: inline-flex;
    flex-direction: row;
    gap: 0.25em;
}
