<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-black border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-controller="Dashboard" asp-action="Index">DLSU-D Portal</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1 justify-content-end gap-2">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Features
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">-</a></li>
                                <li><a class="dropdown-item" href="#">-</a></li>
                                <li><a class="dropdown-item" asp-controller="Student" asp-action="Violations">Violations</a></li>
                                <li><a class="dropdown-item" href="https://forms.office.com/r/Q4jVQ2UjCU" target="_blank">Good Moral Certificate</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Applications
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">-</a></li>
                                <li><a class="dropdown-item" href="#">-</a></li>
                                <li><a class="dropdown-item" href="#">-</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Links
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">-</a></li>
                                <li><a class="dropdown-item" href="#">-</a></li>
                                <li><a class="dropdown-item" href="#">-</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                @User.FindFirst("FullName")?.Value
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Account Settings</a></li>
                                <form asp-controller="Account" asp-action="Logout" method="post">
                                <li><button class="dropdown-item" href="#">Logout</button></li>
                                </form>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - Sia, Soria, Villanueva - Capstone Project
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("scripts", required: false)
</body>
</html>
