@{
    ViewData["Title"] = "Reports";
}

@section customHead {
    <link rel="stylesheet" href="~/css/reportStyle.css" asp-append-version="true" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/chartjs/dist/chart.umd.js"></script>
}

<div id="reports">
    <h1>Reports</h1>
    <div id="category-function" class="mt-1" role="group" aria-label="Button group example">
        <button class="btn major-violations" value="MajorViolations">Major</button>
        <button class="btn minor-violations" value="MinorViolations">Minor</button>
        <button class="btn minor-traffic" value="MinorTrafficViolations">Minor Traffic</button>
        <button class="btn major-traffic" value="MajorTrafficViolations">Major Traffic</button>
    </div>

    <hr />

    <!-- Date range selection -->
    <div class="mb-3 button-group">
        <div class="input-wrapper w-25">
            <input type="date" class="input" id="startDate">
            <label for="startDate" class="label">Start Date</label>
        </div>
        <div class="input-wrapper w-25">
            <input type="date" class="input" id="endDate">
            <label for="endDate" class="label">End Date</label>
        </div>
        <button id="applyFilterBtn" class="btn">Apply Filter</button>
        <button id="clearFilterBtn" class="btn">Clear Filter</button>
    </div>

    <div class="reports">
        <!-- Container for larger chart -->
        <div class="panel">
            <div id="statistics">
                <canvas id="reportsChart"></canvas>
            </div>
            <div id="panel-footer">
                <div id="total-violations">Total Violations: 0</div>
                <button id="generateReportBtn" class="btn" data-bs-toggle="modal" data-bs-target="#generateReportModal">
                    <img src="~/assets/img/AI.svg" /> Generate a Report
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Generate Report Modal -->
<div class="modal fade" id="generateReportModal" tabindex="-1" aria-labelledby="generateReportModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="generateReportModalLabel">Generate Excel Report</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="generateReportForm" class="p-3">
                    <div class="mb-3 input-wrapper">
                        <input type="text" class="input" id="fileName" name="fileName" required>
                        <label for="fileName" class="label">Excel File Name</label>
                        <div class="invalid-feedback">File name is required.</div>
                    </div>

                    <div class="row">
                        <div class="mb-3 input-wrapper">
                            <input type="date" class="input" id="reportStartDate" name="reportStartDate" required>
                            <label for="reportStartDate" class="label">Start Date</label>
                            <div class="invalid-feedback">Start date is required.</div>
                        </div>

                        <div class="mb-3 input-wrapper">
                            <input type="date" class="input" id="reportEndDate" name="reportEndDate" required>
                            <label for="reportEndDate" class="label">End Date</label>
                            <div class="invalid-feedback">End date is required.</div>
                        </div>
                    </div>

                    <div class="text-center">
                        <button type="submit" class="btn dark-btn w-100">Generate Report</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/js/reports.js" asp-append-version="true"></script>
}

