@{
    Layout = "_LogOnLayout";
}

<img alt="logo" src="assets/img/logo.png" />
<h1>Login</h1>

<section>
    <table>
        <tr>
            <td>
                <div class="input-wrapper pt-3">
                    <input class="input" type="email" id="email" placeholder=" " required>
                    <label class="label" for="email">Email Address<span>*</span></label>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="input-wrapper pt-3">
                    <input class="input" type="password" id="password" placeholder=" " required>
                    <label class="label" for="password">Password<span>*</span></label>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <p class="forgotPass pt-1"><a href="google.com">Forgot Password?</a></p>
            </td>
        </tr>
        <tr>
            <td>
                <button type="submit">Log In</button>
            </td>
        </tr>
    </table>
</section>

<footer class="pt-4">
    <p><b>Student Welfare and Formation Office Record System</b></p>
    <p>Copyright 2015 De La Salle University - Dasmariñas</p>
    <p><b>Contact Us</b></p>
</footer>
