html {
  font-size: 14px;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

h2 {
    color: #4aaf51;
}

main.dashboard {
    height: 85vh;
    display: flex;
    align-items: center;
}

main.violations {
    height: 85vh;
}

::selection {
    background-color: green;
    color: white;
}

.dropdown-item:hover {
    background-color: whitesmoke;
}

.dropdown-item:active {
    color: black;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

dl {
    display: grid;
    grid-gap: 0.5rem 1rem;
    grid-template-columns: max-content;
}

dd {
    margin: 0;
    grid-column-start: 2;
}

