@{
    ViewData["Title"] = "Home Page";
}

<main class="dashboard text-center">
    <div class="container">
        <h1 class="display-4">Welcome Student</h1>
        <p><em>Disclaimer:</em> this is a simulated representation of <a href="https://portal.dlsud.edu.ph/mydlsud/login.aspx" target="_blank">the official student portal</a> of DLSU-D</p>
    </div>
</main>
