h2 {
    margin-bottom: 0.75rem;
}

#account {
    width: 100%;
}

#updatePasswordForm {
    display: inline-flex;
    flex-direction: column;
    gap: 1rem;
    width: 40ch;
}

    #updatePasswordForm .btn {
        align-self: flex-start;
    }

    #updatePasswordForm .btn-row {
        display: flex;
        justify-content: space-between;
        margin-top: 1rem;
    }

dl {
    display: grid;
    grid-gap: 4px 16px;
    grid-template-columns: max-content;
}

dt {
    font-weight: normal;
}

dd {
    margin: 0;
    grid-column-start: 2;
}

@media (max-width: 800px) {
    #updatePasswordForm {
        width: 100%;
    }

        #updatePasswordForm .btn {
            align-self: normal;
        }
}
