@import url(../lib/fonts/typefaces.css);
@import url(./navbarStyle.css);
@import url(./footerStyle.css);

:root {
    --nav-link: 'Product Sans Medium Regular';
    --user: 'Product Sans Light Regular';
    --gradient-header: linear-gradient(to right,#007D3C, #000000);
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    width: 100vw;
    font-family: var(--nav-link);
    display: flex;
    flex-direction: row;
}

#sidebar + .container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#dashboard {
    width: 75vw;
}

main {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}

h1 {
    width: fit-content;
    font-size: 3.5em;
    background-image: var(--gradient-header);
    background-clip: text;
    color: transparent;
    margin: 0;
}

    h1 > span {
        font-family: var(--user);
    }

.subtitle {
    color: #9B9B9B;
    margin: 0.4rem 0;
}

#searchBar {
    display: flex;
    flex-direction: row;
    margin: 1rem 0;
}

.search-field {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 32px;
    width: 50%;
    padding: 15px 30px;
    background: transparent;
    border: 2px solid #292929;
    font-size: 1rem;
    font-family: var(--user);
    color: black;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.btnSearch {
    font-family: var(--regular);
    border-radius: 100%;
    aspect-ratio: 1;
    padding: 1rem;
    background-color: transparent;
    border: 2px solid #292929;
    margin-left: 10px;
}

.box-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-decoration: none;
}

    .box-row > a {
        text-decoration: none;
        color: black;
    }

        .box-row > a:first-child {
            margin-left: 0;
        }

        .box-row > a:last-child {
            margin-right: 0;
        }

    .box-row .box:hover {
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 8px, rgba(0, 0, 0, 0.2) 0px 2px 4px;
        transform: scale(1.025);
    }

.box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 12px;
    padding: 24px;
    flex: 1;
    margin: 0 1rem;
    height: 250px;
    border: 2px solid black;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.f-medium {
    font-family: var(--nav-link);
}

@media (max-width: 800px) {
    #categFunc {
        flex-direction: column;
        align-content: space-between;
    }

    .box {
        margin: 0.5rem 0;
    }
}

.iconPad {
    border: 2px solid black;
    max-width: 2.5rem;
    aspect-ratio: 1;
    padding: 0.25rem;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
