@import url(../lib/fonts/typefaces.css);

:root {
    --nav-link: 'Product Sans Medium Regular';
}

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    font-family: var(--nav-link);
    display: flex;
    flex-direction: row;
}

#sidebar {
    width: 95px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-image: linear-gradient(#01562A, #012010);
    padding-top: 20px;
    box-sizing: border-box;
    transition: max-width 0.25s ease-in;
}

main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icons {
    width: 1.25rem;
    height: 1.25rem;
    color: white;
    transition: fill 0.25s ease-in-out;
}

.dashboard {
    background-image: url(Records.svg);
    background-repeat: no-repeat;
}

.logoMini {
    display: flex;
    width: inherit;
    padding: 10px;
    user-select: none;
}

#side-panel {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#sel, #logout {
    display: flex;
    flex-direction: column;
}

.logout > a {
    padding: 50px;
}

hr {
    width: 100%;
    margin: 0;
    color: white;
    box-shadow: none;
    box-sizing: border-box;
}

#sidebar a {
    text-decoration: none;
    width: 100%;
    font-size: 12px;
    color: white;
    box-sizing: border-box;
    text-align: center;
    transition: color 0.1s ease-in, background-color 0.1s ease-in;
}

#sel a {
    padding: 15px;
}

#logout a {
    padding: 30px 0;
}

a:hover {
    color: black;
    background-color: white;
}

    a:hover .icons, a:hover div {
        color: black;
    }
