footer {
    font-size: 0.75em;
    height: 50px;
    line-height: 1.25;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
