.icons {
    width: 1.25rem;
    height: 1.25rem;
    color: white;
    transition: fill 0.25s ease-in-out;
}

.logo-mini {
    display: flex;
    width: inherit;
    padding: 10px;
    user-select: none;
}

#sidebar {
    width: 95px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-image: linear-gradient(#01562A, #012010);
    padding-top: 20px;
    box-sizing: border-box;
    transition: max-width 0.25s ease-in;
}

#sidePanel {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 12px;
    box-sizing: border-box;
}

#sel, #logout {
    display: flex;
    flex-direction: column;
}

#sidePanel hr {
    width: 100%;
    margin: 0;
    color: white;
    box-shadow: none;
    box-sizing: border-box;
}

#sidePanel a {
    text-decoration: none;
    width: 100%;
    color: white;
    text-align: center;
    transition: color 0.1s ease-in, background-color 0.1s ease-in;
}

#sidePanel button {
    width: 100%;
    color: white;
    text-align: center;
    transition: color 0.1s ease-in, background-color 0.1s ease-in;
    background: none;
    border: none;
}

#sidePanel a,
#sidePanel button {
    padding: 15px;
}

    #sidePanel a:hover,
    #sidePanel button:hover,
    #sidePanel .active {
        color: black;
        background-color: white;
    }

        #sidePanel a:hover .icons,
        #sidePanel button:hover .icons,
        #sidePanel .active .icons {
            color: black;
        }

.dark-btn {
    font-family: var(--medium);
    border-radius: 32px;
    background-color: #292929;
    border: 2px solid #292929;
    padding: 5px 2rem;
    color: white;
    cursor: pointer;
}
    
    .dark-btn:active {
        background-color: #363636;
    }

.light-btn {
    font-family: var(--medium);
    border-radius: 32px;
    background: transparent;
    border: 2px solid #292929;
    padding: 5px 2rem;
    color: #292929;
    cursor: pointer;
}

    .light-btn:active {
        background-color: #d7d7d7;
    }
