#records {
    width: 100%;
}

.control-group {
    margin: 1rem auto;
}

/* EDIT PAGE */
#edit {
    width: 100%;
    margin-top: 2rem;
}

#edit form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* DETAILS PAGE */
#details {
    width: 100%;
    margin-top: 2rem;
}

/* TENTATIVE STYLING, SUBJECT TO FEEDBACK */
.minor,
.major {
    padding: 6px 12px;
    border: none;
    border-radius: 1rem;
    color: white;
    font-family: var(--medium);
}

.minor {
    background-color: lightcoral;
}

.major {
    background-color: crimson;
}

@media all and (max-width: 1100px) {
    /* For fixing smaller screen overflow */
    #sidebar + .container {
        display: block;
    }
}