#records {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
}

.title {
    display: flex;
    gap: 0.75rem;
    align-items: center;
}

/* ROW OF PILL-SHAPED BUTTONS */
.button-group {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 0.5rem;
}

/* GENERIC TABLE */
table {
    width: 100%;
    height: 100%;
    border: 2px solid black;
    border-radius: 12px; 
    border-collapse: separate; 
    border-spacing: 0; 
    font-family: var(--light);
    overflow: hidden;
}

    table th, 
    table td {
        padding: 0.5rem;
        text-align: center;
    }

    table thead {
        background-color: black;
        color: white;
        display: table-header-group;
    }

    table tbody {
        font-size: 0.95rem;
        overflow-y: auto;
        height: 100%;
    }

#edit {
    width: 100%;
}

#edit form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#details {
    width: 100%;
}

dl {
    display: grid;
    grid-gap: 0.5rem 2rem;
    grid-template-columns: max-content;
}

dt {
    font-weight: normal;
}

dd {
    margin: 0;
    grid-column-start: 2;
}
