#records {
    width: 100%;
}

.control-group {
    margin: 1rem auto;
}

/* ROW OF BUTTONS */
.button-group {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 0.5rem;
}

/* GENERIC TABLE */
table {
    width: 100%;
    border: 2px solid black;
    border-radius: 12px;
    border-collapse: separate;
    border-spacing: 0;
    font-family: var(--light);
    overflow: hidden;
}

table th,
table td {
    padding: 0.5rem;
}

table td.long {
    width: 35ch;
}

table thead {
    background-color: black;
    color: white;
    display: table-header-group;
}

table thead a {
    text-decoration: none;
    color: white;
}

table thead a:hover {
    color: white;
    filter: brightness(95%);
}

table tbody {
    overflow-y: auto;
    height: 100%;
}

table tbody tr:hover {
    background-color: #eee;
}

table tbody tr.empty {
    background-color: inherit;
    text-align: center;
}

/* GENERAL */
.title {
    display: flex;
    gap: 0.75rem;
    align-items: center;
    margin-bottom: 0.75rem;
}

.panel {
    border: 2px solid black;
    border-radius: 1rem;
    padding: 1.5rem;
}

dl {
    display: grid;
    grid-gap: 0.5rem 2rem;
    grid-template-columns: max-content;
}

dt {
    font-weight: normal;
}

dd {
    margin: 0;
    grid-column-start: 2;
}

/* EDIT PAGE */
#edit {
    width: 100%;
}

#edit form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

/* DETAILS PAGE */
#details {
    width: 100%;
}

@media all and (max-width: 1100px) {
    /* For fixing smaller screen overflow */
    #sidebar + .container {
        display: block;
    }
}