#records {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
}

/* ROW OF PILL-SHAPED BUTTONS */
.pills-group {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 0.5rem;
}

.control-group {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.control-group > form {
    flex-grow: 0.95;
}