#records {
    width: 100%;
    margin-top: 2rem;
    align-self: start;
}

.control-group {
    margin: 1rem auto;
}

/* GENERAL */
.title {
    display: flex;
    gap: 0.75rem;
    align-items: center;
    margin-bottom: 0.75rem;
}

.panel {
    border: 2px solid black;
    border-radius: 1rem;
    padding: 1.5rem;
}

/* EDIT PAGE */
#edit {
    width: 100%;
    margin-top: 2rem;
    align-self: start;
}

#edit form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* DETAILS PAGE */
#details {
    width: 100%;
    margin-top: 2rem;
    align-self: start;
}

@media all and (max-width: 1100px) {
    /* For fixing smaller screen overflow */
    #sidebar + .container {
        display: block;
    }
}