#encode {
    align-self: center;
    width: 100%;
}

#category-function {
    display: inline-flex;
    flex-direction: row;
}
        #category-function > a:hover,
        #category-function > a:active {
            background-color: black;
            color: white;
        }

.student-encode, .traffic-encode {
    margin-right: 0.5em;
}

h2 {
    margin: 0;
}

#input-panel {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    width: 100%;
    gap: 1rem;
    padding: 1.5rem;
    height: auto;
    height: auto;
}

.pane-structure {
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
}

.left-content-pane, .right-content-pane {
    display: flex;
    flex-direction: column;
/*    align-content: flex-start;*/
    flex: 1;
    gap: 1rem;
/*    align-self: center;
    justify-content: center;*/
}

.btn {
    align-self: flex-start;
}

/* Mode Picker */

#page-picker {
    display: flex;
    flex-direction: column;

}

.modes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 0.5em; 
}

.modes > button {
    width: 100%;
}

/* Page One - Student Violation */

#first-page {
    display: flex;
    flex-direction: column;
    gap: 1em;
    flex: 1;
}

 SEARCH INPUT WITH BUTTOn */
#searchForm {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0.5rem;
    height: 2.5rem;
}

#searchForm > input {
    display: flex;
    flex-grow: 1;
    padding: 0.5rem 1rem;
    border: 2px solid black;
    border-radius: 2rem;
}

/*.content-panel{
    margin-top: 0.75em;
}*/

/* Page Two - Student Violation */

#create-new {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    width: 50%;
}

/* Page Three - Student Violation */

#record-violation, .grid-system {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.student-information .info {
    font-family: var(--light);
}

#student-information .info {
    font-family: var(--user);
}


@media only screen and (max-width:475px) {
    #category-function {
        flex-direction: column;
        gap: 0.4em;
    }

    #submit-section {
        flex-direction: column;
        width: 50%;
    }
}

@media only screen and (max-width:800px) {
    .content-panel {
        width: 75vw;
    }

    #create-new, #record-violation {
        width: 100%;
    }
}
