.first-page {
     display: flex; 
    flex-direction: column;
    gap: 1em;
    flex: 1;
}

#search-student {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0.5em;
}

.search-id {
    display: flex;
    flex: 1;
    min-width: 0;
    font-family: var(--nav-link);
    padding: 8px 16px;
    border: 2px solid black;
    border-radius: 32px;
    box-sizing: border-box;
}

#preview-records {
    display: flex;
    font-family: var(--nav-link);
    flex: 1;
    min-width: 0;
    border: 2px solid black;
    border-radius: 8px;
}

.iconPad {
    border: 2px solid black;
    height: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}