#encode {
    width: 100%;
}

h2 {
    margin: 0;
}

.pane-structure {
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
}

.content-pane {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 1rem;
    margin-bottom: 1rem;
}

.btn {
    align-self: flex-start;
}

/* Mode Picker */

#page-picker {
    display: flex;
    flex-direction: column;

}

.modes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 0.5em; 
}

.modes > button {
    width: 100%;
}

/* Page One - Student Violation */

#first-page {
    display: flex;
    flex-direction: column;
    gap: 1em;
    flex: 1;
}

/* SEARCH INPUT WITH BUTTON */
#searchForm {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0.5rem;
    height: 2.5rem;
}

#searchForm > input {
    display: flex;
    flex-grow: 1;
    padding: 0.5rem 1rem;
    border: 2px solid black;
    border-radius: 2rem;
}

/*.content-panel{
    margin-top: 0.75em;
}*/

/* Page Two - Student Violation */

#create-new {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    width: 50%;
}

/* Page Three - Student Violation */

.student-information .info {
    font-family: var(--light);
}

#student-information .info {
    font-family: var(--user);
}

.report-tile {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 2px solid black;
    padding: 1rem;
    margin: 0.5rem 0;
    border-radius: 12px;
}

.report-tile .label {
    font-weight: 600;
}

.report-list {
    height: 600px;
    overflow-y: scroll;
}

.report-tile .long { 
    width: 18ch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media only screen and (max-width:800px) {
    .content-panel {
        width: 75vw;
    }

    #create-new, #record-violation {
        width: 100%;
    }

    .pane-structure:has(.content-pane + .content-pane) {
        display: block;  
    }

    .report-list {
        font-size: 0.75rem;
    }
}
