@import url(../lib/fonts/typefaces.css);
@import url(./navbarStyle.css);
@import url(./footerStyle.css);

:root {
    --gradient-header: linear-gradient(to right, #007d3c, #000000);
    --bold: "Product Sans Bold";
    --medium: "Product Sans Medium Regular";
    --regular: "Product Sans Regular";
    --light: "Product Sans Light Regular";
    font-size: 14px;
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    width: 100vw;
    font-family: var(--regular);
    display: flex;
    flex-direction: row;
}

#sidebar + .container {
    height: 100vh;
    max-width: 88vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding-top: 1rem;
    margin: 0 1rem;
}

h1 {
    width: fit-content;
    font-size: 3rem;
    font-family: var(--bold);
    background-image: var(--gradient-header);
    background-clip: text;
    color: transparent;
    margin: 0;
    font-weight: 600;
}

    h1 > span {
        font-family: var(--light);
    }

h2 {
    width: fit-content;
    font-family: var(--medium);
    margin: 0;
    font-weight: 600;
}

input:focus,
select:focus {
    outline: 2px solid #007d3c;
    outline-offset: 1px; 
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.f-medium {
    font-family: var(--medium);
}

.input-wrapper {
    position: relative;
    font-family: var(--medium);
}

    .input-wrapper .input {
        font-family: var(--medium);
        padding: 8px 16px;
        border: 2px solid black;
        border-radius: 6px;
        width: 100%;
        box-sizing: border-box;
    }

    .input-wrapper .label {
        position: absolute;
        top: -8px;
        left: 15px;
        background-color: white;
        font-size: 12px;
        padding: 0 4px;
        transition: all 0.15s ease-out;
        pointer-events: none;
    }

    .input-wrapper span {
        font-family: var(--medium);
        color: red;
    }

button {
    padding: 0;
}

.btn {
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-align: center;
    padding: 0.25em 1em;
    font-family: var(--medium);
    cursor: pointer;
    color: black;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 32px;
    transition: color 0.2s ease-in, background-color 0.2s ease-in;
}

    .btn.active {
        transition: none;
    }

    .btn:hover,
    .btn:active,
    .btn.active {
        background-color: black;
        color: white;
    }

    .btn:focus {
        box-shadow: none;
        background-color: black;
        color: white;
    }

.btn:focus-visible,
.btn-function:focus-visible {
    outline: 2px solid black;
    outline-offset: 2px;
}

.btn:hover img,
.btn:focus img {
    filter: invert(1);
}

.btn-function {
    border: 2px solid black;
    height: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all ease-in-out 0.15s;
    background-color: white;
}

    .btn-function:focus-visible,
    .btn-function:hover {
        background-color: black;
        color: white;
    }

        .btn-function:focus-visible > svg path,
        .btn-function:hover > svg path {
            stroke: white;
        }

.btn-text-icon {
    &:focus,
    &:focus-visible,
    &:hover,
    &:active {
        & > svg path {
            stroke: white;
        }
    }
}

.dark-btn {
    background-color: #292929;
    border: 2px solid #292929;
    padding: 5px 2rem;
    color: white;
}

    .dark-btn:active {
        background-color: #363636;
    }

.label-header {
    font-family: var(--medium);
}

.info {
    font-family: var(--light);
}

.modal .modal-content {
    border-radius: 12px;
}

/* SEARCH INPUT WITH BUTTOn */
#searchForm {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    height: 2.5rem;

    & input[type="search"] {
    display: flex;
    flex-grow: 1;
    padding: 0.5rem 1rem;
    border: 2px solid black;
    border-radius: 2rem;
}
}

.hidden {
    display: none;
}

/* TEXT BUTTON COMPONENT */
button.text-button {
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
    font-size: 0.96em;
    font-weight: 700;
}

/*.content-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    border: 2px solid black;
    border-radius: 16px;
}
*/
dl {
    display: grid;
    grid-gap: 0.5rem 2rem;
    grid-template-columns: max-content;
}

dt {
    font-weight: normal;
}

dd {
    margin: 0;
    grid-column-start: 2;
}

/* GENERIC TABLE */
.table-responsive {
    overflow-x: scroll;
}

table {
    width: 100%;
    border: 2px solid black;
    border-radius: 12px;
    border-collapse: separate;
    border-spacing: 0;
    font-family: var(--light);
    text-align: center;
    overflow: hidden;
}

table th,
table td {
    padding: 0.5rem;
    min-width: 14ch;
}

table td {
    &.long {
        min-width: 20ch;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &.left-align {
        text-align: left;
    }
}

table thead {
    background-color: black;
    color: white;
    display: table-header-group;
}

table thead a {
    text-decoration: none;
    color: white;
}

table thead a:hover {
    color: white;
    filter: brightness(95%);
}

table tbody {
    overflow-y: auto;
    height: 100%;
}

table tbody tr:hover {
    background-color: #eee;
}

table tbody tr.empty {
    background-color: inherit;
    text-align: center;
}

/* ROW OF BUTTONS */
.button-group {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 0.5rem;
}

/* TITLE HEADING WITH A BUTTON */
.title {
    display: flex;
    gap: 0.75rem;
    align-items: center;
    margin-bottom: 1rem;
}

.title form {
    display: flex;
    align-items: center;
}

/* A PANEL WITH BORDERS */
.panel {
    border: 2px solid black;
    border-radius: 1rem;
    padding: 1.5rem;
}

.pill-indicator {
    background: transparent;
    padding: 6px 12px;
    border: none;
    border-radius: 1.2rem;
    font-size: 0.9rem;
    font-family: var(--medium);
}

#category-function {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.4rem;
}
        #category-function > a:hover,
        #category-function > a:active {
            background-color: black;
            color: white;
        }

.dropdown-menu {
    .input {
        min-width: 14ch;
    }
}
