@{
    ViewData["Title"] = "Dashboard";
}

@section customHead {
    <link rel="stylesheet" href="~/css/dashboardStyle.css" asp-append-version="true" />
}

<div id="dashboard">
    <h1>Greetings, <span>Ms. Fernandez!</span></h1>
    <div class="subtitle">You can start with</div>
    <div id="categFunc" class="box-row">
        @if (User.IsInRole("AppRole.Admin"))
        {
            <a asp-controller="Encode" asp-action="EncodingMode" class="box">
                <div class="dashboard-icon">
                <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M19.75 9.66667V8.75L14.25 3.25H5.08333C4.06583 3.25 3.25 4.06583 3.25 5.08333V17.9167C3.25 18.4029 3.44315 18.8692 3.78697 19.213C4.13079 19.5568 4.5971 19.75 5.08333 19.75H10.5833V18.0358L18.2742 10.345C18.6775 9.94167 19.1908 9.72167 19.75 9.66667ZM13.3333 4.625L18.375 9.66667H13.3333V4.625ZM21.4458 13.5075L20.5475 14.4058L18.6775 12.5358L19.5758 11.6375C19.75 11.4542 20.0525 11.4542 20.2358 11.6375L21.4458 12.8475C21.6292 13.0308 21.6292 13.3333 21.4458 13.5075ZM18.0358 13.1775L19.9058 15.0475L14.2867 20.6667H12.4167V18.7967L18.0358 13.1775Z" fill="#1E1F20" />
                </svg>
            </div>
            <div class="f-medium">Encode Records</div>
        </a>
        }
        <a asp-controller="Records" asp-action="Index" class="box">
            <div class="dashboard-icon">
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M14.5625 0.125H1.4375C1.0894 0.125 0.755564 0.263281 0.509422 0.509422C0.263281 0.755564 0.125 1.0894 0.125 1.4375V14.5625C0.125 14.9106 0.263281 15.2444 0.509422 15.4906C0.755564 15.7367 1.0894 15.875 1.4375 15.875H10.3535C10.5259 15.8753 10.6966 15.8414 10.8558 15.7754C11.0151 15.7094 11.1597 15.6125 11.2812 15.4903L15.4903 11.2812C15.6125 11.1597 15.7094 11.0151 15.7754 10.8558C15.8414 10.6966 15.8753 10.5259 15.875 10.3535V1.4375C15.875 1.0894 15.7367 0.755564 15.4906 0.509422C15.2444 0.263281 14.9106 0.125 14.5625 0.125ZM5.375 4.71875H10.625C10.799 4.71875 10.966 4.78789 11.089 4.91096C11.2121 5.03403 11.2812 5.20095 11.2812 5.375C11.2812 5.54905 11.2121 5.71597 11.089 5.83904C10.966 5.96211 10.799 6.03125 10.625 6.03125H5.375C5.20095 6.03125 5.03403 5.96211 4.91096 5.83904C4.78789 5.71597 4.71875 5.54905 4.71875 5.375C4.71875 5.20095 4.78789 5.03403 4.91096 4.91096C5.03403 4.78789 5.20095 4.71875 5.375 4.71875ZM8 11.2812H5.375C5.20095 11.2812 5.03403 11.2121 4.91096 11.089C4.78789 10.966 4.71875 10.799 4.71875 10.625C4.71875 10.451 4.78789 10.284 4.91096 10.161C5.03403 10.0379 5.20095 9.96875 5.375 9.96875H8C8.17405 9.96875 8.34097 10.0379 8.46404 10.161C8.58711 10.284 8.65625 10.451 8.65625 10.625C8.65625 10.799 8.58711 10.966 8.46404 11.089C8.34097 11.2121 8.17405 11.2812 8 11.2812ZM5.375 8.65625C5.20095 8.65625 5.03403 8.58711 4.91096 8.46404C4.78789 8.34097 4.71875 8.17405 4.71875 8C4.71875 7.82595 4.78789 7.65903 4.91096 7.53596C5.03403 7.41289 5.20095 7.34375 5.375 7.34375H10.625C10.799 7.34375 10.966 7.41289 11.089 7.53596C11.2121 7.65903 11.2812 7.82595 11.2812 8C11.2812 8.17405 11.2121 8.34097 11.089 8.46404C10.966 8.58711 10.799 8.65625 10.625 8.65625H5.375ZM10.625 14.291V10.625H14.2918L10.625 14.291Z" fill="#1E1F20" />
                </svg>
            </div>
            <div class="f-medium">Manage Records</div>
        </a>
        <a asp-controller="Reports" asp-action="Index" class="box">
            <div class="dashboard-icon">
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M14.125 0.125H1.875C0.9125 0.125 0.125 0.9125 0.125 1.875V14.125C0.125 15.0875 0.9125 15.875 1.875 15.875H14.125C15.0875 15.875 15.875 15.0875 15.875 14.125V1.875C15.875 0.9125 15.0875 0.125 14.125 0.125ZM5.375 12.375H3.625V6.25H5.375V12.375ZM8.875 12.375H7.125V3.625H8.875V12.375ZM12.375 12.375H10.625V8.875H12.375V12.375Z" fill="#1E1F20" />
                </svg>
            </div>
            <div class="f-medium">Real-Time Reports</div>
        </a>
    </div>
</div>

@section scripts {
    <script src="~/js/dashboard.js"></script>
}