@using System.Text.Json
@using WSRS_SWAFO.ViewModels

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
    @RenderSection("customHead", required: false)
</head>
<body>
    <partial name="_SidebarPartial" />

    <div class="container">
        <main>
            <div id="encode">
                <h1>Encode</h1>
                <div id="category-function">
                    <a asp-controller="Encode" asp-action="EncodingMode" class="student-encode btn">
                        Encode Violation
                    </a>
                    <a asp-controller="Encode" asp-action="Pending" class="pending-encode btn">
                        Pending
                    </a>
                </div>
                <hr>
                @RenderBody()
            </div>
        </main>
        <footer>
            <div class="f-medium">Student Welfare and Formation Office Record System</div>
            <span>All Rights Reserved</span>
        </footer>
    </div>

    <div class="toast-container position-fixed bottom-0 start-0 p-3" style="z-index: 1055;">
        @if (TempData["Result"] != null && TempData["Result"] is string messageJson && !string.IsNullOrEmpty(messageJson))
        {
            var message = JsonSerializer.Deserialize<ToastViewModel>(messageJson);

            if (message != null)
            {
                <partial name="_ToastPartial" model="@message" />
            }
        }
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/encode.js"></script>
    <script src="~/js/components/toast.js" asp-asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
