<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/studentViolationStyle.css" asp-append-version="true" />
</head>
<body>
    <partial name="_SidebarPartial" />
    <div class="container">
        <main>
            <div id="encode">
                <h1>Encode</h1>
                <div id="category-function">
                    <a asp-controller="Encode" asp-action="Index" class="student-encode">
                        Student Violation
                    </a>
                    <a class="traffic-encode">
                        Traffic Violation
                    </a>
                    <a class="pending-encode">
                        Pending
                    </a>
                </div>
                <hr>
                <div class="content-panel student-violation">
                    <div id="input-panel">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </main>
        <partial name="_FooterPartial" />
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
