<div class="record-violation">
    <div class="title">
        <a>
            <svg width="32" height="32" viewBox="0 0 43 43" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="21.5" cy="21.5" r="20.5" stroke="black" stroke-width="2" />
                <path d="M16 22L24 14" stroke="black" stroke-width="2" stroke-linecap="round" />
                <path d="M16 22L24 30" stroke="black" stroke-width="2" stroke-linecap="round" />
            </svg>

        </a>
        <h2>Record Violation</h2>
    </div>
    <div class="input-wrapper">
        <input asp-for="CYS" type="text" class="input" autocomplete="CYS" aria-required="true" />
        <label asp-for="CYS" class="label">CYS<span>*</span></label>
        <span asp-validation-for="CYS" class="text-danger"></span>
    </div>
    <div class="input-wrapper">
        <input asp-for="dateOfCommission" type="date" class="input" autocomplete="dateOfCommission" aria-required="true" />
        <label asp-for="dateOfCommission" class="label">Date Of Commission<span>*</span></label>
        <span asp-validation-for="dateOfCommission" class="text-danger"></span>
    </div>
    <div class="input-wrapper">
        <label asp-for="classificationOfOffense" class="label">Classification Of Offense<span>*</span></label>
        <select asp-for="classificationOfOffense" asp-items="Model.ClassificationOptions" class="input" aria-required="true">
            <option value="">-- Select an option --</option>
        </select>
        <span asp-validation-for="classificationOfOffense" class="text-danger"></span>
    </div>
    <div class="input-wrapper">
        <label asp-for="natureOfOffense" class="label">Nature of Offense<span>*</span></label>
        <select asp-for="natureOfOffense" asp-items="Model.NatureOptions" class="input" aria-required="true">
            <option value="">-- Select an option --</option>
        </select>
        <span asp-validation-for="natureOfOffense" class="text-danger"></span>
    </div>
    <div class="input-wrapper">
        <input asp-for="sanction" type="text" class="input" autocomplete="sanction" aria-required="true" />
        <label asp-for="sanction" class="label">Sanction<span>*</span></label>
        <span asp-validation-for="EmailAddress" class="text-danger"></span>
    </div>
    <div class="input-wrapper">
        <input asp-for="description" type="text" class="input description" autocomplete="description" aria-required="true" />
        <label asp-for="description" class="label">Description</label>
        <span asp-validation-for="description" class="text-danger"></span>
    </div>
    <a class="btn btn-submit">
        Submit
    </a>
</div>