<div class="create-new">
    <div class="title">
        <a>
            <svg width="32" height="32" viewBox="0 0 43 43" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="21.5" cy="21.5" r="20.5" stroke="black" stroke-width="2" />
                <path d="M16 22L24 14" stroke="black" stroke-width="2" stroke-linecap="round" />
                <path d="M16 22L24 30" stroke="black" stroke-width="2" stroke-linecap="round" />
            </svg>

        </a>
        <h2>Create a New Record</h2>
    </div>
    <div class="input-wrapper">
        <input asp-for="StudentNumber" type="text" class="input" autocomplete="StudentNumber" aria-required="true" />
        <label asp-for="StudentNumber" class="label">Student Number<span>*</span></label>
        <span asp-validation-for="StudentNumber" class="text-danger"></span>
    </div>
    <div class="input-wrapper">
        <input asp-for="FirstName" type="text" class="input" autocomplete="firstname" aria-required="true" />
        <label asp-for="FirstName" class="label">First Name<span>*</span></label>
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
    <div class="input-wrapper">
        <input asp-for="MiddleInitial" type="text" class="input" autocomplete="MiddleInitial" aria-required="true" />
        <label asp-for="MiddleInitial" class="label">Middle Initial<span>*</span></label>
        <span asp-validation-for="MiddleInitial" class="text-danger"></span>
    </div>
    <div class="input-wrapper">
        <input asp-for="LastName" type="text" class="input" autocomplete="LastName" aria-required="true" />
        <label asp-for="LastName" class="label">Last Name<span>*</span></label>
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
    <a class="btn btn-next">
        Next
    </a>
</div>